<ion-tabs>
  <ion-tab-bar slot="bottom" class="mytoolbar">
    <ion-tab-button tab="tab1" routerLinkActive="active" routerLink="/tabs/tab1">
      <ion-icon color="danger"  size="large" aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" routerLinkActive="active" routerLink="/tabs/tab2">
      <ion-icon color="danger" size="large" aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" routerLinkActive="active" routerLink="/tabs/tab3">
      <ion-icon color="danger" size="large" aria-hidden="true" name="square"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
