<app-toolbar title="Más Populares"/>

<ion-content [fullscreen]="true">
  @if (!load) {
  <div class="ion-text-center">
    <ion-spinner style="width: 90vw; height: 90vh;" color="danger" name="lines-sharp-small"></ion-spinner>
  </div>
}
  
<ion-grid >
    <ion-row>
      @for (item of listaAnimes; track $index) {
        <ion-col sizeXs="6" sizeSm="3" sizeMd="3" sizeLg="2" >
          <app-card-anime [anime]="item"></app-card-anime>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
  
</ion-content>